USE [master]
GO
/****** Object:  Database [ExcellToDb]    Script Date: 10/12/2018 10:54:19 AM ******/
CREATE DATABASE [ExcellToDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExcellToDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExcellToDb.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExcellToDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExcellToDb_log.ldf' , SIZE = 76736KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExcellToDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExcellToDb]
GO
/****** Object:  Table [dbo].[Employee_Details]    Script Date: 10/12/2018 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Details](
	[employee_ID] [nvarchar](50) NULL,
	[email_ID] [nvarchar](50) NULL,
	[github_ID] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Excell]    Script Date: 10/12/2018 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Excell](
	[Emp_ID] [varchar](50) NULL,
	[Email_ID] [varchar](50) NULL,
	[GitHub_ID] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinalListToBeUpdated]    Script Date: 10/12/2018 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalListToBeUpdated](
	[UserToBeUpdated] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GitHub_ActiveUsers_List]    Script Date: 10/12/2018 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GitHub_ActiveUsers_List](
	[GitHub_ID_API] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[log_audit]    Script Date: 10/12/2018 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[log_audit](
	[date] [nchar](10) NULL,
	[time] [nchar](10) NULL,
	[status] [int] NULL,
	[comment] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
